@model Pagina_Agripac.DETALLE_NOMINA

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h4>DETALLE_NOMINA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cabecera_Nomina.Comprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cabecera_Nomina.Comprobante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_det_nomina }) |
    @Html.ActionLink("Back to List", "Index")
</p>

