@model Pagina_Agripac.Det_Utilidades

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Registro Detalle Utiidades</h2>
<h3>Estas seguro que deseas eliminar este registro?</h3>
<div>
    <h4>Det_Utilidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carga_Familiar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carga_Familiar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias_laborados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias_laborados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilidades.Comprobante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilidades.Comprobante)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>

